@{
  Layout = "_Layout";
}
<div class="container">
  <form action="/stylists/@Model["stylist"].GetId()/clients/" method="post">
    <div class="form-group">
      <label for="clientname">Enter Client name.</label>
      <input id="clientname" class="form-control" name="clientname" type="text">
    </div>
    <div class="form-group">
      <label for="phonenum">Enter Client phone number.</label>
      <input id="phonenum" class="form-control" name="phonenum" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary form-control">Submit</button>
    </div>
  </form>
<div>
