
@{
  Layout = "_Layout";
}
<div class="container">
  <form action="/specialties" method="post">
    <div class="form-group">
      <label for="spec">Enter Specialty.</label>
      <input id="spec" class="form-control" name="spec" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary form-control">Submit</button>
    </div>
  </form>
<div>
