@{
  Layout = "_Layout";
}
<div class="container">
  <form action="/stylists/@Model.GetId()" method="post">
    <div class="form-group">
      <label for="stylelistname">Enter Stylist name.</label>
      <input id="stylelistname" class="form-control" name="stylelistname" type="text">
    </div>
    <div class="form-group">
      <label for="phonenum">Enter Stylelist phone number.</label>
      <input id="phonenum" class="form-control" name="phonenum" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary form-control">Submit</button>
    </div>
  </form>
<div>
